*{
      margin: 0;
      padding: 0;

    }

    body {
      user-select: none;
      -webkit-user-select: none;
    }

    nav{
      background-color:#0766ad;

    }

    span {
      font-size: 4rem;
      font-weight: 500;
      
    }
